* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

section,
header,
footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.wrapper {
  width: Min(1100px, 90%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  margin: 1rem 0;
  color: #35323e;
  font-size: 1.7rem;
  font-weight: 700;
}

.text {
  color: #9e9aa7;
  font-size: 1rem;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

.cta {
  padding: 1rem 2.5rem;
  background-color: #2acfcf;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 2rem;
}

header {
  padding: 1.5rem 0 0 0;
}

.header--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.line {
  width: 1.6rem;
  height: 0.15rem;
  margin: 0.4rem;
  background: gray;
  pointer-events: none;
}

.navigation {
  display: none;
}

.hero {
  min-height: 100vh;
}

#hero__illustration {
  max-height: 40vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.title--big {
  margin-top: 2.5rem;
  font-size: 2.7rem;
  line-height: 1.2;
}

.text--big {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.shorten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.shorten-wrapper {
  position: absolute;
  background-color: #3b3054;
  color: white;
  border-radius: 0.7rem;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
  overflow: hidden;
}

#shorten-bg {
  width: 80%;
}

.input-wrapper {
  position: absolute;
  width: 87%;
}

.shorten__input,
.shorten--cta {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.7rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: none;
}

.shorten__input {
  font-size: 1rem;
}

.shorten__input::-webkit-input-placeholder {
  color: #737373;
}

.shorten__input:-ms-input-placeholder {
  color: #737373;
}

.shorten__input::-ms-input-placeholder {
  color: #737373;
}

.shorten__input::placeholder {
  color: #737373;
}

.features {
  min-height: 100vh;
  padding-top: 8rem;
  background-color: #f0eff5;
}

.card-wrapper {
  position: relative;
}

.linking-line {
  position: absolute;
  margin: 25% 49%;
  height: 65%;
  padding: 0.25rem;
  background-color: #2acfcf;
}

.card {
  position: relative;
  background-color: white;
  margin: 5rem 0;
  padding: 4rem 1.5rem 2.5rem 1.5rem;
  border-radius: 0.5rem;
}

.card__icon {
  position: absolute;
  left: 50%;
  top: 0;
  height: Min(5.2rem, 90px);
  padding: 1.3rem;
  background-color: #3b3054;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title--small {
  font-size: 1.3rem;
}

.last-cta {
  position: relative;
  max-height: 300px;
  padding: 0;
  background-color: #3b3054;
  color: white;
}

.last-cta--wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.title--light {
  color: white;
}

.cta--long {
  padding: 1rem 3rem;
}

footer {
  background-color: #232127;
  color: white;
}

.footer--wrapper {
  margin: 2rem auto;
}

.footer__item {
  margin: 1.5rem 0;
  text-align: center;
}

.title--footer {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: white;
}

.footer__link {
  font-size: 0.9rem;
  color: #bfbfbf;
}

.footer__link + .footer__link {
  margin-top: 0.5rem;
}

.footer__socials {
  width: 55%;
}

.footer__links--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  margin: 1rem auto;
  font-size: 0.7rem;
  color: #bfbfbf;
}

.attribution a {
  color: #f0eff5;
}

@media screen and (min-width: 1440px) {
  .cta {
    padding: 0.9rem 3rem;
  }
  .header--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .burger {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 83%;
    font-size: 0.9rem;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9e9aa7;
    font-weight: 700;
  }
  .nav--1 {
    width: 31%;
  }
  .nav--2 {
    width: 22%;
  }
  .nav--2 .cta {
    padding: 0.6rem 1.6rem;
    font-size: 0.9rem;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
  }
  .hero--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 4rem;
  }
  .hero__text {
    width: 55%;
    text-align: left;
  }
  .title--big {
    font-size: 4.5rem;
    margin-bottom: 0rem;
  }
  .text--big {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  #hero__illustration {
    position: absolute;
    max-height: 60vh;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-transform: translate(83%);
            transform: translate(83%);
  }
  #shorten-bg {
    width: 100%;
  }
  .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    width: 90%;
  }
  .shorten__input {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    margin-right: 1rem;
  }
  .shorten--cta {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
/*# sourceMappingURL=style.css.map */