* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  overflow-x: hidden;
}

section,
header,
footer {
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}

.wrapper {
  width: Min(1100px, 87%);
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  margin: 1rem 0;
  color: #35323e;
  font-size: 1.7rem;
  font-weight: 700;
}

.text {
  color: #9e9aa7;
  font-size: 1rem;
  line-height: 1.7;
}

ul {
  list-style-type: none;
}

button {
  padding: 1rem 2.5rem;
  background-color: #2acfcf;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  border: none;
  border-radius: 2rem;
}

header {
  padding: 1.5rem 0 0 0;
}

.header--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}

.line {
  width: 1.6rem;
  height: 0.15rem;
  margin: 0.4rem;
  background: gray;
  pointer-events: none;
}

.navigation {
  display: none;
}

.hero {
  min-height: 100vh;
  padding-bottom: 7rem;
}

#hero__illustration {
  max-height: 40vh;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.title--big {
  margin-top: 2.5rem;
  font-size: 2.7rem;
  line-height: 1.2;
}

.text--big {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.shorten {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: auto;
      -ms-flex-align: auto;
          align-items: auto;
}

.shorten-wrapper {
  position: absolute;
  min-height: 10rem;
  background-color: #3b3054;
  color: white;
  border-radius: 0.7rem;
  -webkit-transform: translate(0, -45%);
          transform: translate(0, -45%);
  overflow: hidden;
}

#shorten-bg {
  -webkit-transform: translate(20%, -10%);
          transform: translate(20%, -10%);
}

.input-wrapper {
  position: absolute;
  width: 87%;
}

.shorten__input,
.shorten--cta {
  width: 100%;
  margin: 0.7rem 0;
  padding: 0.7rem;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  border-radius: 0.5rem;
  border: none;
}

.shorten__input {
  font-size: 1rem;
}

.shorten__input::-webkit-input-placeholder {
  color: #737373;
}

.shorten__input:-ms-input-placeholder {
  color: #737373;
}

.shorten__input::-ms-input-placeholder {
  color: #737373;
}

.shorten__input::placeholder {
  color: #737373;
}

.shortened-links {
  width: 100%;
}

.shortened-links__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  background: white;
  border-radius: 7px;
}

.original-link {
  width: 100%;
  padding: 0.9rem;
  text-align: left;
}

.shortened-link-wrapper {
  padding: 0.9rem;
  width: 100%;
  border-top: solid 1px #f0eff5;
}

.shortened-link {
  text-align: left;
  color: #2acfcf;
}

.copy-btn {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.9rem;
  font-size: 0.9rem;
  border-radius: 7px;
}

.features {
  min-height: 100vh;
  padding-top: 4.5rem;
  background-color: #f0eff5;
}

.features h2 {
  padding-top: 4.5rem;
}

.card-wrapper {
  position: relative;
}

.linking-line {
  position: absolute;
  margin: 25% 49%;
  height: 65%;
  padding: 0.25rem;
  background-color: #2acfcf;
}

.card {
  position: relative;
  background-color: white;
  margin: 5rem 0;
  padding: 4rem 1.5rem 2.5rem 1.5rem;
  border-radius: 0.5rem;
}

.card__icon {
  position: absolute;
  left: 50%;
  top: 0;
  height: Min(5.2rem, 90px);
  padding: 1.3rem;
  background-color: #3b3054;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title--small {
  font-size: 1.3rem;
}

.last-cta {
  position: relative;
  max-height: 300px;
  padding: 0;
  background-color: #3b3054;
  color: white;
}

.last-cta--wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.title--light {
  color: white;
}

.cta--long {
  padding: 1rem 3rem;
}

footer {
  background-color: #232127;
  color: white;
}

.footer--wrapper {
  margin: 2rem auto;
}

.footer__item {
  margin: 1.5rem 0;
  text-align: center;
}

.title--footer {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  color: white;
}

.footer__link {
  font-size: 0.9rem;
  color: #bfbfbf;
}

.footer__link + .footer__link {
  margin-top: 0.5rem;
}

.footer__socials {
  width: 55%;
}

.footer__links--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.attribution {
  margin: 1rem auto;
  font-size: 0.7rem;
  color: #bfbfbf;
}

.attribution a {
  color: #f0eff5;
}

@media screen and (min-width: 1440px) {
  .cta {
    padding: 0.9rem 3rem;
  }
  .header--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem 0;
  }
  .burger {
    display: none;
  }
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 83%;
    font-size: 0.9rem;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #9e9aa7;
    font-weight: 700;
  }
  .nav--1 {
    width: 31%;
  }
  .nav--2 {
    width: 22%;
  }
  .nav--2 .cta {
    padding: 0.6rem 1.6rem;
    font-size: 0.9rem;
  }
  .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 70vh;
    padding-bottom: 0;
    margin-bottom: 2.5rem;
  }
  .hero--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    padding-bottom: 4rem;
  }
  .hero__text {
    width: 55%;
    text-align: left;
  }
  .title--big {
    font-size: 5rem;
    margin-bottom: 0rem;
  }
  .text--big {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  #hero__illustration {
    position: absolute;
    max-height: 60vh;
    -ms-flex-item-align: auto;
        -ms-grid-row-align: auto;
        align-self: auto;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -webkit-transform: translate(90%);
            transform: translate(90%);
  }
  #shorten-bg {
    width: 100%;
    -webkit-transform: translate(0%, 0%);
            transform: translate(0%, 0%);
  }
  .input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: auto;
        -ms-flex-pack: auto;
            justify-content: auto;
    -webkit-box-align: auto;
        -ms-flex-align: auto;
            align-items: auto;
    width: 90%;
  }
  .shorten__input {
    -webkit-box-flex: 5;
        -ms-flex: 5;
            flex: 5;
    margin-right: 1rem;
  }
  .shorten--cta {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .shortened-links__item {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 1rem 1.5rem;
    font-size: 1.1rem;
  }
  .original-link {
    padding: 0;
    -webkit-box-flex: 3;
        -ms-flex: 3;
            flex: 3;
  }
  .shortened-link-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0rem;
    border-top: none;
    -webkit-box-flex: 2;
        -ms-flex: 2;
            flex: 2;
  }
  .copy-btn {
    width: auto;
    padding: 0.6rem 2rem;
    margin: 0 0 0 2rem;
  }
  .features h2 {
    padding-top: 6rem;
    font-size: 2.5rem;
  }
  .features .wrapper > .text {
    font-size: 1.1rem;
    width: 47%;
  }
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 60vh;
  }
  .linking-line {
    margin: 25% 49%;
    height: 0;
    width: 65%;
    background-color: #2acfcf;
  }
  .card {
    text-align: left;
  }
  .card + .card {
    margin-left: 2rem;
  }
  .card:nth-of-type(2) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .card:nth-of-type(4) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .card__icon {
    left: 20%;
  }
  .last-cta {
    max-height: 250px;
    overflow: hidden;
  }
  #last-bg {
    width: 100%;
  }
  .footer--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer__item {
    margin: 0;
    text-align: left;
  }
  .title--footer {
    margin: 0 0 1rem 0;
  }
  .footer__socials {
    width: 15%;
  }
}
/*# sourceMappingURL=style.css.map */